.main-body-container {
    background-color: white;
    margin: 0;
}

.main-banner {
    text-align: left;
    position: relative;
    /* border: 1px solid black; */
    margin: 0;
    height: 100%;
    text-align: center;
  
}

.main-banner img {
    width: 100%;
}


.main-banner h1 {
    color: #52b788;
    font-size: 4rem;
    text-align: left;
    left: 10%;

    position: absolute;
    width: 49%;
    bottom: 30%;
}
/* .main-banner h1 {
    padding: 250px 200px 0 200px ;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.main-banner button {
    background-color: bisque;
    border-radius: 20px;
    width: 250px;
    height: 50px
}

.main-banner button:hover {
    background-color: gainsboro;
} */

/* 
.info-section {
    text-align: center;
}

.info-section-header {
    font-family: 'Montserrat', sans-serif;
    margin: 60px 0;
}

.info-section-header h2 {
    font-size: 50px;
    font-weight: 700;
}

.first-info,.second-info {
    margin: 10px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.info-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 40%;
    border-radius: 4px;
}

.info-text {
    font-family: 'Montserrat', sans-serif;
    width: 60%;
    text-align: left;
    padding: 90px;
}

.info-text h4 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.info-text ul li{
    list-style-type: circle;
}


.connectImg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.connectImg img {
    width: 500px;
} */